MovieClient/xml-resources/web-service-references/FilmeWS/wsdl/localhost_8081/MovieService/FilmeWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.pratica.pds.sc.ifrn.edu.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.pratica.pds.sc.ifrn.edu.br/" name="FilmeWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.pratica.pds.sc.ifrn.edu.br/" schemaLocation="http://localhost:8081/MovieService/FilmeWS?xsd=1"/>
</xsd:schema>
</types>
<message name="destroyMovie">
<part name="parameters" element="tns:destroyMovie"/>
</message>
<message name="destroyMovieResponse">
<part name="parameters" element="tns:destroyMovieResponse"/>
</message>
<message name="retrieveMovie">
<part name="parameters" element="tns:retrieveMovie"/>
</message>
<message name="retrieveMovieResponse">
<part name="parameters" element="tns:retrieveMovieResponse"/>
</message>
<message name="createMovie">
<part name="parameters" element="tns:createMovie"/>
</message>
<message name="createMovieResponse">
<part name="parameters" element="tns:createMovieResponse"/>
</message>
<message name="updateMovie">
<part name="parameters" element="tns:updateMovie"/>
</message>
<message name="updateMovieResponse">
<part name="parameters" element="tns:updateMovieResponse"/>
</message>
<message name="listMovies">
<part name="parameters" element="tns:listMovies"/>
</message>
<message name="listMoviesResponse">
<part name="parameters" element="tns:listMoviesResponse"/>
</message>
<portType name="FilmeWS">
<operation name="destroyMovie">
<input wsam:Action="http://ws.pratica.pds.sc.ifrn.edu.br/FilmeWS/destroyMovieRequest" message="tns:destroyMovie"/>
<output wsam:Action="http://ws.pratica.pds.sc.ifrn.edu.br/FilmeWS/destroyMovieResponse" message="tns:destroyMovieResponse"/>
</operation>
<operation name="retrieveMovie">
<input wsam:Action="http://ws.pratica.pds.sc.ifrn.edu.br/FilmeWS/retrieveMovieRequest" message="tns:retrieveMovie"/>
<output wsam:Action="http://ws.pratica.pds.sc.ifrn.edu.br/FilmeWS/retrieveMovieResponse" message="tns:retrieveMovieResponse"/>
</operation>
<operation name="createMovie">
<input wsam:Action="http://ws.pratica.pds.sc.ifrn.edu.br/FilmeWS/createMovieRequest" message="tns:createMovie"/>
<output wsam:Action="http://ws.pratica.pds.sc.ifrn.edu.br/FilmeWS/createMovieResponse" message="tns:createMovieResponse"/>
</operation>
<operation name="updateMovie">
<input wsam:Action="http://ws.pratica.pds.sc.ifrn.edu.br/FilmeWS/updateMovieRequest" message="tns:updateMovie"/>
<output wsam:Action="http://ws.pratica.pds.sc.ifrn.edu.br/FilmeWS/updateMovieResponse" message="tns:updateMovieResponse"/>
</operation>
<operation name="listMovies">
<input wsam:Action="http://ws.pratica.pds.sc.ifrn.edu.br/FilmeWS/listMoviesRequest" message="tns:listMovies"/>
<output wsam:Action="http://ws.pratica.pds.sc.ifrn.edu.br/FilmeWS/listMoviesResponse" message="tns:listMoviesResponse"/>
</operation>
</portType>
<binding name="FilmeWSPortBinding" type="tns:FilmeWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="destroyMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listMovies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FilmeWS">
<port name="FilmeWSPort" binding="tns:FilmeWSPortBinding">
<soap:address location="http://localhost:8081/MovieService/FilmeWS"/>
</port>
</service>
</definitions>